<canvas id="chart" width="900" height="400"></canvas>
<script>
    var ctx = document.getElementById("chart").getContext("2d");
    var mixedChart = new Chart(ctx, {
    data: {
        datasets: [{
            type: 'bar',
            label: 'Bar Dataset',
            data: [10, 20, 30, 40]
        }, {
            type: 'line',
            label: 'Line Dataset',
            data: [50, 50, 50, 50],
        }],
        labels: ['January', 'February', 'March', 'April']
    },
    options: {
        responsive: true
    }
});
</script> 