<div class="h1">{{ text }}</div>
<div class="container" style="display: -webkit-inline-box;">
    <div class="col-1" style="display: table-cell;
    vertical-align: middle;">{{ index }}</div>
    <canvas id="chart" width="900" height="400"class="col-11"></canvas>
</div>
<div style="display: block;
text-align: center;">Medals</div>
<script>
    var ctx = document.getElementById("chart").getContext("2d");
    var data = {
    datasets: [{
        label: "Legend",
        labels: {{ labels | safe }},
        data: {{ values | safe }},
        backgroundColor: "rgb(255, 99, 132)"
    }]
}

var options = {
    plugins: {
        tooltip: {
            callbacks: {
                label: function(ctx) {
                    let label = ctx.dataset.labels[ctx.dataIndex];
                    label += " (" + ctx.parsed.x + ", " + ctx.parsed.y + ")";
                    return label;
                }
            }
        }
    }
}

scatterChart = new Chart(ctx, {
    type: "scatter",
    data: data,
    options: options

});
</script> 
